
    /* CSS styles for dark mode */
      .movie-results {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin: 20px;
      }
      .movie-image {
        position: relative;
        margin-right: 20px;
      }
      .movie-image img {
        height: 100%;
      }
      .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        background-color: #444;
        border: none;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .play-icon {
        color: #ffffff;
      }
      .movie-info {
        max-width: 600px;
      }
      .movie-title {
        font-size: 24px;
        text-align: left;
        margin-left: 5px;
        margin-bottom: 10px;
      }
      .service-icons {
        display: flex;
        margin-bottom: 20px;
      }
      .service-icon {
        margin-right: 10px;
        margin: 0 5px;
      }
      .movie-description {
        line-height: 1.2;
        text-align: left;
        font-size: 12px;
        margin: 5px;
      }

      .service-icon {
        cursor: pointer;
      }